<div class="content row" role="main">
  <div class="container">
    <div class="row justify-content-md-center m-3">
      <div class="col col-md-1 text-end">
        <label for="search-text" class="col-form-label">Search</label>
      </div>
      <div class="col col-lg-2">
        <input type="text" class="form-control" id="search-text" placeholder="Type in the name" autofocus (keyup)='onSearch($event)' />
      </div>
    </div>

    <div class="row justify-content-md-end m-3">
      <div class="col-lg-2">
        <button type="button" class="btn btn-danger" (click)="onClickResetBalance()">Reset Balance</button>
      </div>
    </div>

    <div class="text-center m-3">
      <div class="row row-cols-5 justify-content-md-center border-bottom">
        <div class="col text-break fw-bolder">Name</div>
        <div class="col text-break border-start fw-bolder">Age</div>
        <div class="col text-break border-start fw-bolder">Registered Date</div><!--format dd-mm-yyyy dd:mm:ss-->
        <div class="col text-break border-start fw-bolder">Email</div>
        <div class="col text-break border-start fw-bolder">Balance</div><!--format currency as pounds to 2 decimal places-->
      </div>
      <div class="row row-cols-5 justify-content-md-center" *ngFor="let user of userSearchList">
        <div class="col text-break">{{ user.name }}</div>
        <div class="col text-break border-start">{{ user.age }}</div>
        <div class="col text-break border-start">{{ user.registered | date: 'dd-mm-yyyy dd:mm:ss' }}</div>
        <div class="col text-break border-start">{{ user.email }}</div>
        <div class="col text-break border-start">{{ user.balance | currency:'GBP':'symbol-narrow':'1.2-2' }}</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
